.rhistory
.rData
*.ply
*.png
*.RData
*.pdf
*.ps
*.gif
*.log
*.ply
.RDataTmp
*.RData
*.RData
*.avi
*.RData
Data/Processed/WeisbETal_Data.RData
*.RData
*.rda
Figures/Indesign_Figures.indd
*.RData
Data/Processed/WeisbETal_Data.RData
*.RData
*.RData
Data/Processed/WeisbETal_Data.RData
Data/Processed/WeisbETal_Data.RData
*.RData
*.stl
*.RData
*.RData
Data/Processed/WeisbETal_Data.RData
*.RData
*.zip
*.indd
*.tscproj
*.eps
*.ai
